@model Benday.WebCalculator.WebUi.Models.CalculatorViewModel

@{
    ViewData["Title"] = "Calculator Pro Online!";
}

<h4>Calculator Pro Online!</h4>
<hr />
@using (Html.BeginForm("Calculate", "Calculator"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="Value1" class="form-label"></label>
                    <input asp-for="Value1" class="form-control" />
                    <span asp-validation-for="Value1" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Operator" class="form-label"></label>
                    <select asp-for="Operator" asp-items="Model.Operators" class="form-select"></select>
                    <span asp-validation-for="Operator" class="text-danger"></span>
                </div>
                
                <div>
                    <label asp-for="Value2" class="form-label"></label>
                    <input asp-for="Value2" class="form-control" />
                    <span asp-validation-for="Value2" class="text-danger"></span>
                </div>

                <div>
                    <input type="submit" value="Calculate" class="btn btn-primary" />
                </div>

                <div>
                    <label asp-for="ResultValue" class="form-label"></label>
                    @Html.DisplayFor(x => x.ResultValue)
                    <span asp-validation-for="ResultValue" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Message" class="form-label"></label>
                    @Html.DisplayFor(x => x.Message)
                </div>
                <div>
                    <label asp-for="IsResultValid" class="form-label"></label>: @Model.IsResultValid
                </div>
            </form>
        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}